.cart{
    border: 2px solid black;
    padding: .75em .75em;
    border-radius: .75rem;
    height: 50px;
}

.cart:hover,.cart:focus{
    
    opacity: .75;
}

.cart_active{
    composes: cart;

    border: none;

    background-color: black;
}

.img{
    height: 24px;
}
