.product_card {
  height: 40vh;
  width: 35vh;
  border: 2px solid black;
  border-radius: 1.5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 10% 80% 10%;
  padding: 8px;
}

.image {
  grid-row: 1/2;
  grid-column: 2/3;
  height: 20vh;
  width: 20vh;
  object-fit: contain;
  align-self: center;
  justify-self: center;
}

.title {
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  text-wrap: nowrap;
}

.price {
  grid-row: 3/4;
  grid-column: 2/3;
  font-weight: bold;
}

.btn {
  grid-row: 1/2;
  grid-column: 3/3;
  align-self: self-start;
  justify-self: end;
}

.wrapper {
  grid-row: 4/5;
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
