.container {
  width: 100%;
  overflow: hidden;
}

.card_wrapper {
  width: calc(25% * 20 + 3% * 19);

  animation-name: translate-X;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes translate-X {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-25vmin * 10 - 3vmin * 9));
  }
}
