.main__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: ghostwhite;
  border-radius: 2rem;
}

.hero__content {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.heading {
  font-family: "tiny5", "sans-serif";
  font-size: 8vmin;
  text-align: center;
}
